/* /////////////////////////// polices //////////////////////*/ 
@font-face {
	font-family: "abel";
	src: url("polices/abel/abel-regular-webfont.eot");
	src: url('polices/abel/abel-regular-webfont.woff2') format('woff2'),
         url('polices/abel/abel-regular-webfont.woff') format('woff'),
         url('polices/abel/abel-regular-webfont.ttf') format('truetype'),
         url('polices/abel/abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: "abel", Impact, sans-serif;
}

/* /////////////Styles des paragraphes, titres et listes ///////// */
p
{
	text-align: justify;
}

aside p
{
	margin-left: 30px;
	margin-right: 30px;
}

header strong /*écrire uniquement "Karine" en teal*/
{
	color: teal;
}

header hr /*petite ligne sous Développeuse*/
{
	width: 35px;
	color:  #00695C;
	margin: 0px 5px 10px 0px;
	padding-top: 0px;
}

#cv i /*retrait des icones*/
{
	padding-right: 10px;
}

h1
{
	margin-bottom: -20px; 
}

h2
{
	text-transform: uppercase;
	color: teal;
	text-align: left;
	margin:20px 20px 0px 30px;
}

hr /*grandes lignes sous les h2*/
{
	color: #00695C;
	margin: 0px 5px 10px 20px;
	padding-top: 0px;
}

section ul
{
	margin-top: 0px;
}
section li /*liste sans puce*/
{
	list-style-type: none;
	margin-left: -40px;
}

h3
{
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(55,55,55);
	color: #4DB6AC;
}

h4
{
	margin: 10px 0px 0px 0px;
}

td
{
	padding-left: 10px;
}

footer li
{
	list-style-type: none;
}

/* //////////// ORGANISATION  DES DIFFERENTS BLOCS /////////// */

/* /////////////////////////  Le liseré /////////////////////// */
#conteneur
{
	display: flex;
}
aside
{
	background-color: #4DB6AC;
	max-width: 280px;
}

aside header, footer /*centrage de ces blocs */
{
	margin : auto;
	text-align: center;
}

aside header img /*bordure et centrage de la photo*/
{
	border: 4px #00695C solid;
	border-radius: 90px;
	margin : 1em 2em 1em 2em;
}

/* Je le mets en commentaires parce que ça ne fonctionne pas 
Je voudrais positionner ce bloc en bas de page quand il y a de la place
footer
{
	position: static;
	bottom: 0;
} */

#loisirs i /*bordures et positionnement des icones*/
{
	border: 3px #00695C solid;
	border-radius: 50px;
	padding : 0.2em 0.2em 0.2em 0.2em;
	margin: 0.2em 0.2em 0.2em 0.2em;
	font-size: 2.5em;
}

/* ///////////////// Le bloc cv ////////////////// */
#cv header
{
	justify-content: space-around;
	text-align: left;
	padding-right: 10px;
	margin: 20px;
}

section
{
	display: flex;
	justify-content: space-around;
}

#experience, #formation
{
	min-width: 300px;
}

td /*alignement des cellules en haut*/
{
	vertical-align: top;
}

.td_exp /* largeur d'une colonne*/
{
	min-width: 120px;
}

#recommandations /*placer les deux listes en ligne sur toute la largeur*/
{
	display: flex;
	justify-content: flex-start;
}

footer ul 
{
	text-align: left;
	margin-right: 150px;
}

/* ////////// Style page adapté aux différents formats /////////// */
@media all and (max-width: 1024px)
{
	body
	{
		width: 70%;
		margin: auto;
	}

	header
	{
		margin-top: 10px;
	}

	section
	{
		width: auto;
		flex-direction: column;
	}

	#experience em
	{
		display: none;
	}
	
		
	footer ul 
	{
		text-align: left;
		margin-right: auto;
		font-size: 0.9em;
	}
}

@media all and (max-device-width: 480px) /* règles CSS pour les mobiles COMMENT VERIFIER CE FORMAT ???? */
{
	#conteneur
	{
		display: inline-block;
	}

	aside header, #moi
	{
		display: none;
	}

	#aside
	{
		display: flex;
		width: auto;
	}   

	#contact p
	{
		display: inline-block;
		font-size: 0.8em;
	}	

	#recommandations
	{
		flex-direction: column;
	}
}

@media all and (max-width: 480px) /* règles CSS pour les petites fenêtres  */
{
	#conteneur
	{
		display: inline-block;
	}

	aside header, #moi, aside footer
	{
		display: none;
	}
	
	#contact p
	{
		display: inline-block;
		font-size: 0.8em;
	}	

	#recommandations
	{
		flex-direction: column;
	}

}